<div class="center jumbotron">
  <h2><%= @title %></h2>

  <h4><%= @description %></h4>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
</div>