<h1>Stocks listing</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
  <% @pages.each do |page| %>
      <tr>
        <td>
          <%= link_to page.name, page %>
        </td>
        <td>
          <%= link_to 'Edit', edit_page_path(page) %>
        </td>
        <td>
          <%= link_to 'Remove item', page_path(page), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
      <% end %>
  </tbody>

</table>

<%= link_to 'New Item', new_page_path %>
